<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item 0</key>
	<string>0. 준비.
필요한 도구들을 준비하시고 준비가 다 되면 시작을 누르세요.</string>
	<key>Item 1</key>
	<string>1. 뜸들이기 
 채워진 커피가루에 물을 붓습니다 
 추출액이 1~2방울떨어질만큼만 붓습니다. (30초)</string>
	<key>Item 2</key>
	<string>2. 1차 추출 
 추출은 나선형을 그리듯이  중심에서 
 바깥으로 원을그리면서 물을 붓습니다.(30초)</string>
	<key>Item 3</key>
	<string>3. 2차 추출 
 물을 최대 80% 정도까지 붓습니다. 추출양에 신경쓰세요.(30초)</string>
	<key>Item 4</key>
	<string>4. 3차 추출 
 추출양을 확인하면서 추출합니다 
 목표양 만큼 추출하고 채우면 시간이 남아도 중지합니다.(60초)</string>
</dict>
</plist>
