<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>커피의 탄생</key>
	<string>http://m.blog.naver.com/welcomecafe7/100174395670</string>
	<key>커피산지</key>
	<string>http://m.blog.naver.com/pariduck/130173009912</string>
	<key>생두의 지식</key>
	<string>http://m.kin.naver.com/mobile/open100/detail.nhn?d1id=8&amp;dirId=8020306&amp;docId=1152966</string>
	<key>생두의 품질을 좌우하는 정제법</key>
	<string>http://m.blog.naver.com/coffeelife01/110180425173</string>
	<key>커피의 품종</key>
	<string>http://navercast.naver.com/magazine_contents.nhn?rid=1095&amp;contents_id=11542</string>
	<key>커피 로스팅이란</key>
	<string>http://blog.naver.com/mintspell?Redirect=Log&amp;logNo=40199860744</string>
	<key>커피 블랜딩</key>
	<string>http://cafeklang.com/60183600033</string>
	<key>다양한 커피추출법</key>
	<string>http://kin.naver.com/open100/detail.nhn?d1id=8&amp;dirId=8020306&amp;docId=469225&amp;qb=7Luk7ZS87J2YIOy2lOy2nOuylQ==&amp;enc=utf8&amp;section=kin&amp;rank=1&amp;search_sort=0&amp;spq=0&amp;pid=Rq7Lf35Y7usssaaU6ZCsssssstl-522859&amp;sid=UqLMsnJvLCgAAClZDxI</string>
	<key>핸드드립 커피도구</key>
	<string>http://blog.naver.com/palel?Redirect=Log&amp;logNo=30168046315</string>
	<key>핸드드립 카페</key>
	<string>http://navercast.naver.com/magazine_contents.nhn?rid=1482&amp;contents_id=37939</string>
	<key>드립 커피(영문)</key>
	<string>http://en.wikipedia.org/wiki/Drip_brew</string>
	<key>핸드드립(영문)</key>
	<string>http://www.wikihow.com/Make-Pour-Over-Coffee</string>
</dict>
</plist>
